<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>PPC1 2013 Timetable Generator</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
    <form action="/search">
        <b>Some notes on usage:</b>
        <ul>
            <li>The app is currently based on the PPC1 2013 master timetable
            published by the Law Society and last updated on <b>9 September
            2013</b>.  Any changes made to the timetable after that date
            will therefore not be reflected, and you should take account
            of this.</li>
            <li>In any case, there is always the possibility of errors in
            this program or in the Law Society's timetable.  If you notice
            any errors or inaccuracies in the timetables generated let me
            know and I will try and fix them, but please don't blame me if
            you miss your exam :-P</li>
            <li>Where an event concerns tutorial groups and not skills
            groups, it is listed as applying to all skills groups, but only
            the relevant tutorial groups, and vice versa.</li>
            <li>Where an event doesn't mention what groups it involves,
            it is presumed that it involves all groups, on the basis that
            it's better for searches to include certain irrelevant events
            than to leave out relevant ones.</li>
            <li>If you're searching for events related to specific modules
            (by selectively checking the "Code" boxes), be sure to read
            through all the codes and select all that might be relevant,
            as some events which would seem to be related to each other
            have different codes (for example, Conveyancing is PPC1-ALL-C,
            but the relevant exam has the code PPC1-ALL).  Also be sure to
            include codes like "Miscel" and "n/a" if you want to find events
            which may not fall into the other categories.</li>
        </ul>
        <input type="submit" value="Proceed">
    </form>
</body>

</html>
